@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Fauna+One&family=Sono:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    font-family: "Sono", sans-serif;
}